{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

	<div class="row divider blue">
		<div class="col-md-12">
				<div class = 'flash'>
					  {% with messages = get_flashed_messages() %}
				      {% if messages %}
				          
				        <ul>
				        {% for message in messages %}
				        <li> <strong> {{ message }} </strong> </li>
				        {% endfor %}
				        </ul>
				        {% endif %}
				        {% endwith %}

				</div>

		</div>
	</div>


</div>



<div class="container">
	<div class="row">
		
		<div class="col-md-6"> 
		  <h1> {{item.name}}</h1>
          <p>{{item.description}}</p>
           {% if loggedIn %}
		  <a href="{{url_for('editItem', category_name=item.category.name, item_name=item.name)}}">Edit</a> | 
		  <a href="{{url_for('deleteItem', category_name=item.category.name, item_name=item.name)}}">Delete</a>
		    {% endif %}
		</div>


	</div>

</div>

	

	
{% endblock %}
